.shelfContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: center;
}

.header {
    width: 90%;
    max-width: 1400px;
}

.topic {
    color: red;
    font-weight: bold;
    margin: 1rem 0 1rem calc(1rem + 18px);
    position: relative;
}

.topic::before {
    content: "";
    position: absolute;
    top: -0.5rem;
    left: calc(-1rem);
    transform: translateX(-100%);
    width: 18px;
    height: calc(100% + 1rem);
    background-color: red;
    border-radius: 5px;
}

.info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.strong {
    font-weight: bold;
    font-size: 2rem;
}

.name {
    font-size: 1.2rem;
}

.buttonContainer {
    display: flex;
    gap: 8px;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3ch;
    width: 3ch;
    border-radius: 50%;
    outline: none;
    border: none;
    font-size: 1.2rem;
}

.cardsContainer {
    display: flex;
    justify-content: space-between;
    width: 90%;
    max-width: 1400px;
}