.card {
  width: clamp(150px, 24%, 235px);
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  border-radius: 5px;
  border: 1px solid grey;
  transition: all 0.25s;
  text-align: center;
  aspect-ratio: 1/ 1;
}

.card:hover {
  background-color: red;
  color: white;
  border: 1px solid transparent;
}

.icon {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin-bottom: 0.5rem;
}

.icon i {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: white;
  padding: 1rem;
  border-radius: 50%;
  border: 8px solid grey;
  width: 4.5rem;
  aspect-ratio: 1 / 1;
  font-size: 1.5rem;
  transition: all 0.25s;
}

.card:hover i {
  border-color: lightcoral;
  background-color: white;
  color: black;
}

.number {
  font-size: 1.5rem;
  font-weight: bold;
}

.container {
  width: 90%;
  max-width: var(--max-content-width);
  justify-self: center;
  display: flex;
  justify-content: space-between;
}
