.usersReport button {
  font-size: 1rem;
  outline: none;
  border: none;
  border-radius: 5px;
  padding: 0.5rem 2ch;
  cursor: pointer;
  transition: background-color 0.25s;
}

.usersReport button:hover {
  background-color: hsl(0, 0%, 85%);
}

.blackBtn {
  background-color: hsl(0, 0%, 5%);
  color: white;
}

.blueBtn {
  background-color: hsl(195, 79%, 53%);
  color: white;
}

.greenBtn {
  background-color: hsl(127, 86%, 51%);
  color: white;
}

.redBtn {
  background-color: red;
  color: white;
}

.redBtn:hover {
  background-color: hsl(0, 100%, 40%) !important;
}

.usersReport i {
  font-size: 1rem;
  margin-right: 1ch;
}

.usersReport header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}

.usersReport header p {
  font-size: 0.8rem;
  color: grey;
}

.usersReport main {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 2rem;
}

.usersReport main section > div:first-child {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}

.usersReport input {
  padding: 0.5rem 1rem;
  border: 1px solid #edf2f7;
  border-radius: 5px;
  outline: none;
  width: clamp(250px, 50%, 500px);
}

.usersReport main table {
  width: 100%;
  border-collapse: collapse;
  border-radius: 10px;
  overflow: hidden;
}

.usersReport main table thead {
  background-color: hsl(0, 0%, 5%);
  color: white;
}

.usersReport main table thead * {
  padding: 0.5rem 0;
}

.usersReport main table tbody {
  text-align: center;
}

.usersReport main table tbody tr {
  border: 1px solid #edf2f7;
}

.usersReport main table tbody tr td {
  padding: 0.5rem 0;
}

.usersReport main table tbody tr:nth-child(even) {
  background-color: hsl(0, 0%, 98%);
}

.avatar {
  width: fit-content;
  display: flex;
  margin-left: 3ch;
  gap: 3ch;
  align-items: center;
}

.avatar > *:first-child {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  align-content: center;
  background-color: hsl(0, 0%, 5%);
  color: white;
}

.name,
.email {
  text-align: start;
}

.name {
  font-size: 1.1rem;
}

.email {
  font-size: 0.7rem;
  color: grey;
}

.buttonsContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1ch;
  width: fit-content !important;
  justify-self: center;
}

.confirmOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: hsla(0, 0%, 0%, 0.1);
}

.confirmOverlay > div {
  padding: 1rem;
  background-color: white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  width: fit-content;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.confirmOverlay h2 {
  text-align: center;
}

.form > div {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 2ch;
}

.form > div > div:first-child {
  white-space: nowrap;
}
