.searching {
  width: min(90%, var(--max-content-width));
  justify-self: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 2rem;
}

.searching input {
  padding: 1rem 2ch;
  border-radius: 5px;
  border: none;
  outline: none;
  background-color: hsl(0, 0%, 95%);
  font-size: 1rem;
}

.searching select {
  border: 1px solid grey;
  outline: none;
  border-radius: 5px;
}

.input {
  width: 100%;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.input > * {
  display: flex;
  gap: 1ch;
}

.input input {
  flex: 1;
}

.list {
  display: flex;
  align-items: center;
  gap: 1rem;
  overflow-x: scroll;
  scrollbar-width: none;
  width: 100%;
}

.list button {
  white-space: nowrap;
  padding: 0.75rem 2ch;
  outline: none;
  cursor: pointer;
  border: 1px solid grey;
  border-radius: 5px;
  font-size: 1rem;
  background-color: white;
}

.products {
  display: flex;
  flex-wrap: wrap;
  gap: 1.33%;
}

.notice {
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  padding: 2rem;
  width: 100%;
}

.pagination {
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 0.5rem;
}

.pagination button {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  border: none;
  outline: none;
  margin: 0 1ch;
  background-color: hsl(0, 0%, 95%);
  cursor: pointer;
  transition: background-color 0.25s;
}

.pagination button:hover {
  background-color: hsl(0, 0%, 90%);
}

.pagination select {
  margin: 0 1ch;
  padding: 0.5rem 1ch;
  border-radius: 5px;
}
