.sidebar {
  width: 100%;
  height: 100%;
  border-right: 1px solid #edf2f7;
  display: flex;
  flex-direction: column;
  background-color: white;
}

.sidebar button {
  cursor: pointer;
}

.sidebar header {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  padding: 0.5rem 0;
  border-bottom: 1px solid #edf2f7;
}

.sidebar nav {
  flex: 1;
  padding: 1rem;
}

.sidebar li {
  list-style-type: none;
}

.sidebar nav button {
  font-size: 1rem;
  background-color: transparent;
  border: none;
  outline: none;
  margin-bottom: 0.5rem;
  padding: 1rem;
  width: 100%;
  text-align: start;
  border-radius: 5px;
  transition: all 0.25s;
}

.sidebar nav button:hover {
  background-color: rgb(239 246 255);
  color: rgb(37 99 235);
}

.sidebar nav i {
  margin-right: 1ch;
  max-width: 1.1ch;
  font-size: 1.1rem;
}

.sidebar footer > div:first-child {
  border-top: 1px solid #edf2f7;
  border-bottom: 1px solid #edf2f7;
}

.sidebar footer > div:first-child button {
  width: 100%;
  padding: 0.25rem 1ch;
}

.sidebar footer > div:last-child {
  display: flex;
  padding: 1rem;
  gap: 1rem;
  align-items: center;
}

.sidebar footer > div:last-child > div:first-child {
  border-radius: 50%;
  padding: 0.5rem;
  background-color: hsl(0, 0%, 5%);
  color: white;
}

.sidebar footer > div:last-child > div:nth-child(2) {
  flex: 1;
}

.sidebar footer > div:last-child > div:nth-child(2) > div:first-child {
  font-weight: bold;
}

.sidebar footer > div:last-child > div:nth-child(2) > div:last-child {
  font-size: 0.85rem;
  color: grey;
}

.sidebar footer button {
  background-color: transparent;
  border: none;
  outline: none;
  font-size: 1.1rem;
  color: grey;
  transition: color 0.25s;
}

.sidebar footer button:hover {
  color: black;
}
