.categoryCard {
  width: 16%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  padding: 1rem 0;
  background-color: white;
  color: black;
  outline: none;
  border: 1px solid grey;
  border-radius: 10px;
  transition:
    background-color 0.25s,
    color 0.25s,
    border 0.25s;
}

.categoryCard:hover {
  background-color: red;
  color: white;
  border: 1px solid transparent;
}

.categoryCard i {
  font-size: 2rem;
}

.container {
  width: min(90%, var(--max-content-width));
  justify-self: center;
}

.header {
  display: flex;
  gap: 1rem;
  height: 50vh;
}

.header nav {
  min-width: 200px;
  border-right: 1px solid grey;
  height: 100%;
  overflow-y: scroll;
  scrollbar-width: none;
  padding-top: 0.5rem;
}

.header ul {
  list-style-type: none;
}

.header button {
  background-color: white;
  border: none;
  outline: none;
  width: 100%;
  padding: 0.5rem 1ch;
  cursor: pointer;
  text-align: start;
  font-size: 1rem;
  transition: color 0.25s;
}

.header button:hover {
  color: red;
}

.header > div {
  flex: 1;
}

.header img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.imageDecoration {
  display: flex;
  height: 40vh;
}

.viewAll {
  display: flex;
  width: 100%;
  justify-content: center;
}

.toTop {
  position: fixed;
  right: 2rem;
  bottom: 2rem;
  background-color: white;
  color: black;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  border: none;
  outline: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  justify-items: center;
}
