.categoryCard {
  width: 16%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  padding: 1rem 0;
  background-color: white;
  color: black;
  outline: none;
  border: 1px solid grey;
  border-radius: 10px;
  transition: background-color 0.25s, color 0.25s, border 0.25s;
}

.categoryCard:hover {
  background-color: red;
  color: white;
  border: 1px solid transparent;
}

.categoryCard i {
  font-size: 2rem;
}

.container {
  width: min(90%, var(--max-content-width));
  justify-self: center;
}

.header {
  display: flex;
  gap: 1rem;
  height: 50vh;
}

.header nav {
  min-width: 200px;
  border-right: 1px solid grey;
  height: 100%;
  overflow-y: scroll;
  scrollbar-width: none;
  padding-top: 0.5rem;
}

.header ul {
  list-style-type: none;
}

.header button {
  background-color: white;
  border: none;
  outline: none;
  width: 100%;
  padding: 0.5rem 1ch;
  cursor: pointer;
  text-align: start;
  font-size: 1rem;
  transition: color 0.25s;
}

.header button:hover {
  color: red;
}

.header > div {
  flex: 1;
}

/* HERO SLIDER */

/* Container */
.heroSlider {
  position: relative;
  width: 100%;
  height: 400px;
  overflow: hidden;
}

/* Slide image */
.heroSlide {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0;
  transition: opacity 0.5s ease;
  position: absolute;
  top: 0;
  left: 0;
}

.activeSlide {
  opacity: 1;
}

/* Dots */
.heroDots {
  position: absolute;
  bottom: 20px;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 8px;

  opacity: 0;
  transition: opacity 0.3s ease;
}

.showDots {
  opacity: 1;
}

.dot {
  width: 10px;
  height: 10px;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  cursor: pointer;
}

.activeDot {
  background: white;
}
.viewAll{
  width: 100%;
  display: flex;
  justify-content: center; /* Centers horizontally */
  margin: 1.5rem 0;
}