.order {
  width: 100%;
  padding: 3rem;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  justify-self: center;
}

.order > h2:first-child {
  color: red;
}

.table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0 1rem;
}

.table tr {
  width: 100%;
  margin-bottom: 1rem;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.05);
}

.table tr > * {
  width: 25%;
  text-align: center;
  padding: 1rem 0;
}

.table button {
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  border: none;
  outline: none;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.05);
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: scroll;
}

.overlay > div {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: white;
  padding: 2rem;
  border-radius: 10px;
  width: calc(min(90%, var(--max-content-width)) * 0.85);
  max-height: 90%;
  overflow-y: scroll;
  scrollbar-width: none;
}

.overlay input {
  padding: 0.5rem 1ch;
  border: 1px solid grey;
  border-radius: 5px;
  outline: none;
}

.item {
  text-align: center;
  width: 100%;
  border-radius: 10px;
  overflow: hidden;
  border-collapse: collapse;
}

.item td:first-child,
.item td:first-child {
  width: 40%;
}

.item th,
.item td {
  padding: 0.5rem 0;
}

.item tbody tr {
  border: 1px solid grey;
}

.item tr:nth-child(even),
.item thead tr {
  background-color: hsl(0, 0%, 95%);
}

.productInfo img {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 5px;
}

.productInfo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1ch;
}

.productInfo > div {
  text-align: start;
}

.productInfo > div > div:first-child {
  font-weight: bold;
}

.paymentDetail {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr;
}

.paymentDetail > div:last-child > div:last-child {
  font-weight: bold;
}

.buttons {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 1ch;
}

.buttons button {
  padding: 0.5rem 1ch;
  border: 1px solid grey;
  border-radius: 5px;
  outline: none;
  background-color: white;
  transition: background-color 0.25s;
  cursor: pointer;
}

.buttons button:hover {
  background-color: hsl(0, 0%, 95%);
}
