.container {
  display: flex;
  justify-content: center;
  border-bottom: 1px solid grey;
  width: 100%;
}

.container button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 1rem;
}

.nav {
  display: flex;
  padding: 2rem 0 1rem;
  margin: 0;
  gap: 1rem;
  align-items: center;
  width: 90%;
  max-width: var(--max-content-width);
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
}

.ulContainer {
  flex: 1 1 0;
  display: flex;
  justify-content: center;
}

.ul {
  display: flex;
  justify-content: space-between;
  width: clamp(300px, 35%, 450px);
}

.li {
  list-style-type: none;
}

.underline {
  position: relative;
}

.underline::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 2px;
  background-color: grey;
}

.inputContainer {
  position: relative;
  display: flex;
}

.input {
  background-color: hsl(0, 0%, 90%);
  border: none;
  border-radius: 10px;
  padding: 0.75rem;
  padding-right: 2.5rem;
  width: 100%;
  flex: 1;
}

.searchButton {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  background-color: transparent;
  border: none;
  padding: 0 0.75rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.25s;
}

.searchButton:hover {
  color: red;
}

.searchIcon {
  pointer-events: none;
}

.iconContainer {
  display: flex;
  gap: 1rem;
  font-size: 1.5rem;
}

.iconContainer i {
  position: relative;
  cursor: pointer;
}

.iconContainer i > span {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1ch;
  background-color: red;
  color: white;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  bottom: 50%;
  height: 1rem;
  width: 1rem;
  font-size: 0.5rem;
}

.hidden {
  visibility: hidden;
}

.dropbar > div {
  display: none;
  font-size: 1rem;
  border-radius: 5px;
  background: rgba(40, 40, 50, 0.8);
  position: absolute;
  right: 0;
  width: fit-content;
  padding: 1rem;
  gap: 0.5rem;
  white-space: nowrap;
  font-weight: normal;
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
  color: white;
  cursor: default;
}

.dropbar i {
  aspect-ratio: 1 / 1;
  height: 1.2rem;
  margin-right: 1ch;
}

.dropbar:hover > div {
  display: flex;
  flex-direction: column;
}

.dropbar button {
  width: 100%;
  text-align: start;
  cursor: pointer;
  color: white;
}
