.product {
  width: min(90%, var(--max-content-width));
  height: 65vh;
  justify-self: center;
  display: flex;
  gap: 1rem;
}

.product button {
  cursor: pointer;
}

.product hr {
  margin: 0.5rem 0;
}

.left {
  width: 65%;
  display: flex;
  gap: 1rem;
}

.imageColumn {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 120px;
  overflow-y: scroll;
  scrollbar-width: none;
}

.imageColumn button {
  width: 100%;
  aspect-ratio: 1 / 1;
  flex-shrink: 0;
  border-radius: 5px;
  border: none;
  outline: none;
  overflow: hidden;
}

.imageColumn img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.imageMain {
  flex: 1;
}

.imageMain img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.right {
  width: 34%;
}

.right p {
  font-size: 0.9rem;
}

.price {
  font-weight: bold;
  margin: 0.5rem 0;
}

.variantButtons {
  display: flex;
  gap: 1ch;
}

.variantButtons button {
  width: 3ch;
  height: 3ch;
  font-size: 1rem;
  border-radius: 5px;
  border: 1px solid grey;
  outline: none;
  background-color: white;
  transition: background-color 0.25s;
}

.variantButtons button:hover {
  background-color: hsl(0, 0%, 95%);
}

.actions {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  margin: 0.5rem 0;
}

.actions button {
  padding: 0.5rem;
  outline: none;
  background-color: white;
  transition: background-color 0.25s;
}

.actions button:hover {
  background-color: hsl(0, 0%, 95%);
}

.actions > button {
  border-radius: 5px;
}

.actions > button:nth-child(2) {
  padding: 0.5rem 4ch;
  border-color: transparent;
}

.actions > button:last-child {
  border: 1px solid grey;
}

.red {
  background-color: red !important;
  color: white;
}

.red:hover {
  background-color: hsl(0, 100%, 40%) !important;
}

.quantityButtons {
  display: flex;
  align-items: center;
  border-radius: 5px;
  overflow: hidden;
  border: 1px solid grey;
}

.quantityButtons button {
  border: none;
  outline: none;
}

.quantityButtons button:first-child {
  border-right: 1px solid grey;
}

.quantityButtons button:last-child {
  border-left: 1px solid grey;
}

.quantityButtons span {
  padding: 0 1rem;
}

.product table {
  border-radius: 5px;
  border-collapse: collapse;
  overflow: hidden;
}

.product tr {
  border: 1px solid grey;
}

.product tr:nth-child(odd) {
  background-color: hsl(0, 0%, 95%);
}

.product td {
  padding: 0.5rem 1ch;
}
