.container {
  display: grid;
  grid-template-columns: 200px 1fr;
  gap: 1rem;
  width: min(90%, var(--max-content-width));
  justify-self: center;
}

.left {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  padding-left: 0;
}

.left button {
  border: none;
  outline: none;
  background-color: white;
  text-align: start;
  font-size: 1.2rem;
  cursor: pointer;
}

.left button:not(.red) {
  color: grey;
}

.red {
  font-weight: bold;
  color: red;
}
