.red,
.white {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 4ch;
  border-radius: 5px;
  font-weight: bold;
  transition: background-color 0.25s;
}

.white {
  border: 1px solid black;
  background-color: white;
}

.white:hover {
  background-color: hsl(0, 0%, 90%);
}

.red {
  border: none;
  background-color: red;
  color: white;
}

.red:hover {
  background-color: hsl(0, 100%, 40%);
}
