.container {
  display: flex;
  width: 100%;
}

.left,
.right {
  width: 50%;
}

.left {
  padding-left: calc((100vw - min(90vw, var(--max-content-width))) / 2);
  padding-right: 5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
}

.left h1 {
  font-size: 3rem;
}

.right img {
  aspect-ratio: 1 / 1;
  object-fit: cover;
  width: 100%;
}

.right {
  overflow: hidden;
  display: flex;
  border-radius: 5px;
}
