.wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  background-color: rgba(40, 40, 50, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1ch;
}

.mark {
  display: flex;
  width: 1.2ch;
  border-radius: 1ch;
  background-color: white;
  animation: loading 1s linear 0s infinite normal both;
}

@keyframes loading {
  0%,
  60%,
  100% {
    height: 2rem;
  }
  30% {
    height: 4rem;
  }
}
