.main {
    display: flex;
    align-items: stretch;
    width: 100%;
    height: 600px;
}

.imageContainer {
    flex: 1;
    display: flex;
    align-items: stretch;
}

.image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.formContainer {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}