* {
  padding: 0;
  margin: 0;
  /* border: 1px solid black; */
  box-sizing: border-box;
  font-family: 'Nunito Sans', sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
}

:root {
  --max-content-width: 1080px;
}
