.cardContainer {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 24%;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  margin: 1rem 0;
  cursor: pointer;
}

.imageContainer {
  width: 100%;
  position: relative;
}

.imageContainer::after {
  content: 'Add To Card';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 0;
  text-align: center;
  background-color: black;
  color: white;
  transition: height 0.25s;
  display: flex;
  justify-content: center;
  align-items: center;
}

.imageContainer:hover::after {
  height: 3rem;
}

.image {
  width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
}

.discount {
  position: absolute;
  top: 0;
  left: 0;
  margin: 1rem;
  padding: 0.5rem 2ch;
  background-color: red;
  color: white;
  border-radius: 10px;
}

.iconContainer {
  position: absolute;
  top: 0;
  right: 0;
  margin: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.icon {
  padding: 1ch;
  border-radius: 50%;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  background-color: white;
  cursor: pointer;
  transition: transform 0.25s;
}

.icon:hover {
  transform: scale(1.1);
}

.cardDetails {
  padding: 0.5rem 1ch 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.productName {
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.oldPrice {
  color: grey;
  font-size: 0.9rem;
  text-decoration: line-through;
  margin-left: 1ch;
}

.newPrice {
  color: red;
  font-weight: bold;
}

.rating {
  margin-top: 0.5rem;
  display: flex;
  gap: 0.2rem;
}

.star {
  color: gold;
  font-size: 1.1rem;
}

.faded {
  color: #ccc;
}
