.reviewItem {
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.reviewItem img {
  width: 3rem;
  aspect-ratio: 1 / 1;
  border-radius: 5px;
  object-fit: cover;
}

.reviewItem .yellow {
  color: yellow;
}

.reviewItem .grey {
  color: grey;
}

.reviewItem > div:first-child {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1ch;
}

.reviewItem > div:first-child > div:first-child {
  display: flex;
  align-items: center;
  gap: 1ch;
}

.reviewItem > div:first-child > div:last-child {
  display: flex;
  align-items: center;
  gap: 0.5ch;
}

.reviewItem button:has(i) {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 1.5rem;
}

.reviewItem input,
.reviewItem textarea {
  padding: 0.5rem 1ch;
  border: 1px solid #edf2f7;
  border-radius: 5px;
  outline: none;
  width: 100%;
}

.reviewItem > div:last-child {
  display: flex;
  justify-content: end;
}

.reviews {
  width: min(90%, var(--max-content-width));
  justify-self: center;
}
