.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.item > div:first-child {
  display: flex;
  align-items: center;
}

.item img {
  aspect-ratio: 1 / 1;
  height: 2rem;
  margin-right: 1rem;
}

.checkOutContainer {
  width: 90%;
  max-width: var(--max-content-width);
  justify-self: center;
}

.sectionWarpper {
  display: flex;
}

.sectionWarpper > section {
  flex: 1;
}

.input {
  margin-top: 1.5rem;
}

.input > div {
  color: grey;
  font-size: 0.85rem;
}

.input > input,
.input > textarea {
  width: 100%;
  padding: 0.5rem 1rem;
  background-color: hsl(0, 0%, 95%);
  outline: none;
  border: none;
  border-radius: 5px;
}

.input > textarea {
  height: 4rem;
}

.checkbox {
  display: flex;
  gap: 1rem;
  align-items: center;
  margin-top: 1rem;
}

.checkbox input {
  height: 1.5rem;
  width: 1.5rem;
}

.checkbox > input:checked {
  background-color: red;
}

.right {
  margin-top: 3rem;
}

.width08 {
  width: 80%;
}

.detail {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 0.5rem 0;
}

.underline {
  border: none;
  border-bottom: 1px solid black;
}

.appliedCoupon {
  margin-top: 1rem;
}

.couponCode {
  padding: 0.5rem 2ch;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  position: relative;
}

.couponCode > button {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
  border: none;
  outline: none;
  background-color: red;
  color: white;
  cursor: pointer;
}

.couponCode:hover > button {
  display: inline;
}

.payment > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.payment input {
  margin-right: 0.5rem;
}

.payment i {
  font-size: 1.5rem;
  margin-left: 0.5rem;
}

.buttons {
  display: flex;
  gap: 0.5rem;
  flex-wrap: wrap;
  margin-top: 1rem;
}

.buttons input {
  padding: 0.5rem 1rem;
  border-radius: 5px;
}

.qrContainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.45);
  display: flex;
  justify-content: center;
  align-items: center;
}

.qrContainer > div {
  background-color: white;
  padding: 2rem;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
