.wrapper {
  display: flex;
  justify-content: space-between;
  width: 90%;
  max-width: var(--max-content-width);
  justify-self: center;
}

.left,
.right {
  padding: 2rem;
  padding-bottom: 0;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.left {
  width: 35%;
}

.left > *,
.right > * {
  margin-bottom: 1rem;
}

.icon {
  font-size: 1.2rem;
  font-weight: bold;
}

.icon i {
  color: white;
  background-color: red;
  border-radius: 50%;
  padding: 1ch;
  margin-right: 1rem;
}

.right {
  width: 60%;
}

.inputContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.inputContainer input {
  background-color: hsl(0, 0%, 95%);
  outline: none;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  max-width: 32%;
}

.right textarea {
  width: 100%;
  height: 7rem;
  outline: none;
  border: none;
  border-radius: 5px;
  background-color: hsl(0, 0%, 95%);
  padding: 0.5rem 1rem;
}

.buttonContainer {
  display: flex;
  width: 100%;
  justify-content: flex-end;
}
